.document-content {
  :first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 4rem 0 1.5rem 0;
    padding: 0.5rem 0;
    font-weight: 700;
    border-bottom: 1px solid rgba(125, 125, 125, 0.4);
  }

  p {
    margin: 1.5rem 0;
    line-height: 1.6;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.7rem;
  }

  p {
    line-height: 2rem;
  }

  ol,
  ul {
    padding-left: 1.5em;

    ol,
    ul {
      padding-left: 1em;
    }

    li {
      line-height: 2rem;
      padding-left: 0.5rem;
    }
  }

  ul {
    list-style-type: disc;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
      }
    }
  }

  ol {
    list-style-type: decimal;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
      }
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-radius: 8px;
    border-spacing: 0;
    border: 1px solid rgb(55, 59, 63);
    overflow: hidden;

    thead {
      background-color: rgb(55, 59, 63);
    }

    tbody {
      // tr th {
      //   background: #efefef;
      // }
      td {
        border-top: 1px solid rgb(55, 59, 63);
      }
    }

    th,
    td {
      padding: 8px;
      font-size: 0.875rem;
      // border: 1px solid rgb(55, 59, 63);
      &.left {
        text-align: left;
      }
      &.center {
        text-align: center;
      }
      &.right {
        text-align: right;
      }
    }
  }

  code:not(pre code) {
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 8px;
    font-family: var(--font-source-code-pro);
    line-height: 1.2;
    border: 1px solid rgb(55, 59, 63);
    background-color: rgb(29, 31, 33);
    color: rgb(255, 255, 255);
  }

  blockquote {
    border-left: 8px solid rgba(230, 230, 230, 0.5);
    color: #999;

    margin: 0;
    padding: 0 16px;

    blockquote {
      margin: 0 12px;
    }
  }

  a {
    color: #96d0ff;

    &:hover {
      text-decoration: underline;
    }
  }
}

.code-block {
  margin: 1.5rem 0;
  border: 1px solid rgb(55, 59, 63);
  background-color: rgb(29, 31, 33);
  border-radius: 8px;

  pre {
    font-family: var(--font-source-code-pro);
    font-size: 14px;
    padding: 16px;
    overflow: auto;
  }
}

.code-block-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding: 8px 16px;
  border-bottom: 1px solid rgb(55, 59, 63);
}

.code-block-filename {
  flex: 1 1 auto;
}

.toc {
  font-size: 14px;
  a {
    color: rgb(170, 170, 170);
  }
  li {
    color: rgb(170, 170, 170);
  }

  :global {
    li:has(> .is-active-link) {
      color: rgb(255, 255, 255);
    }
    .is-active-link {
      color: rgb(255, 255, 255);
    }
  }

  ol,
  ul {
    padding-left: 1.5em;

    ol,
    ul {
      padding-left: 1em;
    }

    li {
      margin: 0.5rem 0;
      line-height: 1.5rem;
      padding-left: 0.5rem;
    }
  }

  ol {
    list-style-type: disc;
    ol {
      list-style-type: circle;
      ol {
        list-style-type: square;
      }
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
