.main,
.dropdown {
  font-size: 0.875rem;
  padding: 0 0.5rem;
  overflow-y: scroll;

  a,
  li {
    color: hsl(var(--muted-foreground));
  }

  li:has(> :global(.is-active-link)) {
    color: hsl(var(--accent-foreground));
  }
  :global(.is-active-link) {
    color: hsl(var(--accent-foreground));
  }

  ol,
  ul {
    padding-left: 1.5em;

    ol,
    ul {
      padding-left: 1em;
    }
  }

  ol {
    list-style-type: disc;
    ol {
      list-style-type: circle;
      ol {
        list-style-type: square;
      }
    }
  }

  a {
    display: block;
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    &:hover {
      background-color: hsl(var(--muted));
    }
  }
}

.main {
  max-height: calc(100vh - var(--navbar-height) - 8px);
}

.dropdown {
  max-height: 70vh;
}
