.document-content {
  :first-child {
    margin-top: 0;
  }

  word-break: break-word;

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 4rem 0 1.5rem 0;
    padding: 0.5rem 0;
    font-weight: 700;
    border-bottom: 1px solid hsl(var(--border));
  }

  p {
    margin: 1.5rem 0;
    line-height: 1.6;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.7rem;
  }

  p {
    line-height: 2rem;
  }

  ol,
  ul {
    padding-left: 1.5em;

    ol,
    ul {
      padding-left: 1em;
    }

    li {
      line-height: 2rem;
      padding-left: 0.5rem;
    }
  }

  ul {
    list-style-type: disc;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
      }
    }
  }

  ol {
    list-style-type: decimal;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
      }
    }
  }

  table {
    width: 100%;
    table-layout: fixed;
    border-collapse: separate;
    border-radius: 8px;
    border-spacing: 0;
    border: 1px solid hsl(var(--border));
    overflow: hidden;

    thead {
      background-color: hsl(var(--primary-foreground));
    }

    tbody {
      td {
        border-top: 1px solid hsl(var(--border));
      }
    }

    th,
    td {
      padding: 8px;
      font-size: 0.875rem;
      text-align: left;

      &.left {
        text-align: left;
      }
      &.center {
        text-align: center;
      }
      &.right {
        text-align: right;
      }
    }
  }

  code:not(pre code) {
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box;
    padding: 2px 8px;
    font-family: var(--font-source-code-pro);
    line-height: 1.2;
    border: 1px solid hsl(var(--border));
    background-color: hsl(var(--primary-foreground));
  }

  blockquote {
    border-left: 8px solid hsl(var(--border));

    margin: 0;
    padding: 0 16px;

    blockquote {
      margin: 0 12px;
    }
  }

  a:not(article a) {
    color: hsl(var(--link));

    &:hover {
      text-decoration-line: underline;
    }
  }
}

.code-block {
  margin: 1.5rem 0;
  border: 1px solid hsl(var(--border));
  border-radius: 8px;
  overflow: hidden;

  pre {
    font-family: var(--font-source-code-pro);
    font-size: 14px;
    padding: 16px;
    overflow: auto;
    color: #fff;
    background-color: hsl(var(--code-block));
  }
}

.code-block-header {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
  font-size: 14px;
  padding: 8px 16px;
  background-color: hsl(var(--primary-foreground));
  border-bottom: 1px solid hsl(var(--border));
}

.code-block-filename {
  flex: 1 1 auto;
}

.toc,
.dropdown-toc {
  font-size: 14px;
  a,
  li {
    color: hsl(var(--muted-foreground));
  }

  :global {
    li:has(> .is-active-link) {
      color: hsl(var(--accent-foreground));
    }
    .is-active-link {
      color: hsl(var(--accent-foreground));
    }
  }

  ol,
  ul {
    padding-left: 1.5em;

    ol,
    ul {
      padding-left: 1em;
    }

    li {
      margin: 0.5rem 0;
      line-height: 1.5rem;
      padding-left: 0.5rem;
    }
  }

  ol {
    list-style-type: disc;
    ol {
      list-style-type: circle;
      ol {
        list-style-type: square;
      }
    }
  }

  a {
    &:hover {
      text-decoration-line: underline;
    }
  }
}
