@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --brand: 31 94% 68%;

    --body-font: var(--font-inter), 'Hiragino Kaku Gothic ProN', 'Helvetica', 'Helvetica Neue',
      'Arial', 'Meiryo', 'Hiragino Sans', sans-serif;

    --noto-color-emoji-font: 'Noto Color Emoji', sans-serif;

    --navbar-height: 64px;

    --background: 0 0% 100%;
    --foreground: 20 14.3% 4.1%;

    --card: 0 0% 100%;
    --card-foreground: 20 14.3% 4.1%;

    --popover: 0 0% 100%;
    --popover-foreground: 20 14.3% 4.1%;

    --primary: 24 9.8% 10%;
    --primary-foreground: 60 9.1% 97.8%;

    --secondary: 60 4.8% 95.9%;
    --secondary-foreground: 24 9.8% 10%;

    --muted: 60 4.8% 95.9%;
    --muted-foreground: 25 5.3% 44.7%;

    --accent: 60 4.8% 95.9%;
    --accent-foreground: 24 9.8% 10%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 20 5.9% 90%;
    --input: 20 5.9% 90%;
    --ring: 20 14.3% 4.1%;

    --radius: 0.5rem;

    --link: 216, 100%, 50%;

    --code-block: 0 0% 100%;
  }

  .dark {
    --background: 240 6% 11%;
    --foreground: 213 9% 84%;

    --card: 240 6% 14%;
    --card-foreground: 60 9.1% 97.8%;

    --popover: 20 14.3% 4.1%;
    --popover-foreground: 60 9.1% 97.8%;

    --primary: 60 9.1% 97.8%;
    --primary-foreground: 24 9.8% 10%;

    --secondary: 12 6.5% 15.1%;
    --secondary-foreground: 60 9.1% 97.8%;

    --muted: 12 6.5% 15.1%;
    --muted-foreground: 24 5.4% 63.9%;

    --accent: 12 6.5% 15.1%;
    --accent-foreground: 60 9.1% 97.8%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 60 9.1% 97.8%;

    --border: 12 6.5% 22%;
    --input: 12 6.5% 15.1%;
    --ring: 24 5.7% 82.9%;

    --link: 210, 90%, 75%;

    --code-block: 215 15% 16%;
  }

  :root {
    --hsdc-scroll-margin-top: calc(var(--navbar-height) + 16px);
    --hsdc-font-code: var(--font-source-code-pro), monospace, sans-serif;
    --hsdc-border: var(--border);
    --hsdc-muted: var(--muted);
    --hsdc-muted-foreground: var(--muted-foreground);
    --hsdc-link: var(--link);
    --hsdc-code-block: var(--code-block);
    --hsdc-shiki-diff-add: 160 84% 39%;
    --hsdc-shiki-diff-remove: 350 89% 60%;
    --hsdc-shiki-highlighted-word: 60 100% 50%;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  :root,
  body {
    @apply bg-background text-foreground;
  }

  html.dark .shiki,
  html.dark .shiki span {
    color: var(--shiki-dark) !important;
    font-style: var(--shiki-dark-font-style) !important;
    font-weight: var(--shiki-dark-font-weight) !important;
    text-decoration: var(--shiki-dark-text-decoration) !important;
  }

  html.dark .shiki,
  html.dark .shiki span.line {
    background-color: var(--shiki-dark-bg) !important;
  }
}
