.markdown {
  :first-child {
    margin-top: 0;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 4rem 0 1.5rem 0;
    padding: 0.5rem 0;
    font-weight: 700;
    border-bottom: 1px solid rgba(125, 125, 125, 0.4);
  }

  p {
    margin: 1.5rem 0;
    line-height: 1.6;
  }

  pre {
    margin: 1.5rem 0 !important;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.2rem;
  }

  h4 {
    font-size: 1rem;
  }

  h5 {
    font-size: 0.8rem;
  }

  h6 {
    font-size: 0.7rem;
  }

  p {
    line-height: 2rem;
  }

  ol,
  ul {
    padding-left: 1.5em;

    ol,
    ul {
      padding-left: 1em;
    }

    li {
      line-height: 2rem;
      padding-left: 0.5rem;
    }
  }

  ul {
    list-style-type: disc;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
      }
    }
  }

  ol {
    list-style-type: decimal;
    ul {
      list-style-type: circle;
      ul {
        list-style-type: square;
      }
    }
  }

  a {
    color: #6499e9;

    &:hover {
      text-decoration: underline;
    }
  }
}

.toc {
  font-size: 14px;

  :global {
    .is-active-link {
      font-weight: bold;
      color: #ddffbb;
    }
  }

  ol,
  ul {
    padding-left: 1.5em;

    ol,
    ul {
      padding-left: 1em;
    }

    li {
      margin: 0.5rem 0;
      line-height: 1.5rem;
      padding-left: 0.5rem;
    }
  }

  ol {
    list-style-type: disc;
    ol {
      list-style-type: circle;
      ol {
        list-style-type: square;
      }
    }
  }

  a {
    &:hover {
      text-decoration: underline;
    }
  }
}
