@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: 'Helvetica', 'Helvetica Neue', 'Arial', 'Hiragino Kaku Gothic ProN', 'Meiryo',
  'Hiragino Sans', sans-serif;

  --navbar-height: 64px;
  scroll-padding-top: var(--navbar-height);
}
